.about_contianer {
  padding-top: 20rem;
  p {
    font-size: 2.2rem;
    margin: 0.8rem;
    color: #161a1d;
    font-family: 'Oswald';
    font-weight: 300;
  }
}

.textRefTwo {
  transform: rotate(8deg);
}

.textRef {
  transform: rotate(-8deg);
}

.textRefscroll {
  font-family: 'ppl';
}
