.line_container {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #040404;
  border-radius: 20px;
  overflow: hidden;

  .linex {
    overflow: hidden;
    margin-top: 4rem;
    // border-bottom: 1px solid #212529;
  }
  .line {
    width: 100%;
    height: 1px;
    background-color: #686c6f;
  }
  .line_one {
    padding-top: 2rem;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    p {
      // text-transform: lowercase;
      font-family: 'ppi';
      line-height: 0.8;
      margin: 0;
      font-size: 6rem;
      color: #adb5bd;
      @include laptop {
        font-size: 4rem;
      }
      @include tab {
        font-size: 3rem;
      }
      @include mobile {
        font-size: 2.2rem;
      }
    }
  }
  .line_middle {
    width: 90%;
    margin: auto;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    p {
      // text-transform: ;
      line-height: 0.7;
      font-family: 'ppi' !important;
      margin: 0;
      font-size: 6rem;
      color: #adb5bd;
      @include laptop {
        font-size: 4rem;
      }
      @include tab {
        font-size: 3rem;
      }
      @include mobile {
        font-size: 2.2rem;
      }
    }
  }
}

.cap {
  p {
    letter-spacing: 2px;
    font-family: 'ppi' !important;
    text-transform: uppercase;
    margin: -50;
    padding: 0;
    line-height: 1;
  }
}
#spinText text {
  font-size: 28px;
  fill: white;
}

#spinText {
  max-width: 80vw;
  max-height: 80vh;
  animation: spin 10s linear infinite;
}

/* Keyframes for rotation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#containerSpin {
  opacity: 0;
  margin-top: 30px;
  display: flex;
  justify-content: end;
}

.scroll_down {
  opacity: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}
.scroll_container {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;

  svg {
    transform: rotate(180deg);
  }
}

.scroll {
  text-align: center;
  color: #fff;
}
