main {
  height: 100vh;
  width: 100vw;
  background-color: #0b0a0a;
  overflow: hidden;
  position: relative;

  .loading {
    position: absolute;
    z-index: 22;
    height: 100vh;
    width: 100vw;
    background-color: #060505;
    // background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;

    #progress_bar {
      position: absolute;
      left: 0;
      background-color: rgba(185, 185, 185, 0.575);
      height: 1px;
      z-index: -1;
      transition: 0.4s ease-out;
    }
    .loading_gif {
      img {
        width: 300px;
      }
    }

    .progress_two {
      position: absolute;
      background-color: #777777;
      height: 1px;
      width: 0;
      left: 0;
      z-index: 2;
      box-shadow: 2px 2px 12px 1px #767fff;
      border-radius: 6px;
    }

    #count {
      line-height: 0;
      // bottom: 0;
      // right: 20px;
      position: absolute;
      font-size: 200px;
      font-family: 'Sora';
      color: #fff;
      font-weight: bold;
      // opacity: 0;
      transform: translateY(-15px);

      font-weight: lighter;
      @include tab {
        font-size: 100px;
      }
      // text-shadow: 2px 2px 22px rgba(255, 0, 0, 0.7);
    }
    .terminal {
      color: #fff;
      top: 70%;
      z-index: 213123;
      left: 10%;
      width: 40%;
      p {
        color: #7456c3;
      }
    }
  }
}
