@import './theme';
@import './media';
@import './loadingScreen';
@import './header';
@import './about';
@import './skills';
@import './scrolltext';
@import './cursor';
@import './navbar';

/* Full screen */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  cursor: none;
  background-color: $darkMode;
}

::-webkit-scrollbar {
  display: none;
}
h1 {
  margin: 0;
}
// common css
.darkMode {
  // height: 100vh;
  width: 100%;
  background-color: $darkMode;

  // overflow: hidden;
}

.darkmode_color {
  color: $fontColor;
}

.conainer_app {
  width: 100vw;
  height: 100vh;
  // overflow: hidden;
}

.xxContainer {
}
.xContainer {
  height: 100vh;
  border-radius: 20px;
  // border: 1px solid red;
  width: 100%;
  background-color: #151515;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.container {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.min_container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  @include tab {
    width: 90%;
  }
  @include mobile {
    width: 95%;
  }
}
.bg-red {
  padding: 20rem;
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
}
