/* Full screen */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  outline: none;
}

@import './theme';
@import './media';
@import './loadingScreen';
@import './header';
@import './scrolltext';
// common css
.darkMode {
  height: 100vh;
  width: 100%;
  background-color: $darkMode;
}

.darkmode_color {
  color: $fontColor;
}

.conainer_app {
  width: 100vw;
  height: 100vh;
  // overflow: hidden;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
}
