main {
  height: 100vh;
  width: 100vw;
  background-color: #272727;
  overflow: hidden;
  position: relative;
  .loading {
    position: absolute;
    z-index: 22;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: #191819;
    // background-color: red;

    display: flex;
    justify-content: center;
    align-items: center;

    #progress_bar {
      position: absolute;
      left: 0;
      background-color: rgba(185, 185, 185, 0.575);
      height: 1px;
      transition: 0.4s ease-out;
    }
    .progress_two {
      position: absolute;
      background-color: #f10707;
      height: 1px;
      width: 0;
      left: 0;
      z-index: 2;
      box-shadow: 2px 2px 22px 2px red;
      border-radius: 6px;
    }

    #count {
      position: absolute;
      font-size: 130px;
      font-family: 'CustomFont', sans-serif;
      color: red;
      // opacity: 0;
      transform: translateY(-15px);

      font-weight: lighter;
      text-shadow: 2px 2px 22px rgba(255, 0, 0, 0.7);
    }
  }
}
